<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artas siol</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <div class="jumbotron">
    <h1>Artery</h1>
  </div>
  <body class="text-center">
     <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container col-md-6">
         <ul class="nav nav-pills">
           <li role="presentation"><a href="/profile" id="profile-btn">Edit Account</a></li>
            <li role="presentation"><a href="/curator" id="curate-btn">Curator</a></li>
            <li role="presentation"><a href="/portfolio" id="portfolio-btn">Your Portfolio</a></li>
            <li role="presentation"><a href="/search" id="search-btn">Search Paintings</a></li>
        </ul>
       </div>
         <div class="navbar-right">
            <a href="/logout">
              <button class="btn btn-default btn-danger" type="button">Sign Out</button>
            </a>
         </div>
     </nav>

     <div class="container">
      <%- body %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/js/script.js" charset="utf-8"></script>
</body>
</html>
