body {
  background: url('http://wall-papers.info/images/art-background/art-background-19.jpg') no-repeat 100% 100%;
  background-size: contain;
  color: white;
}

input[type="submit"], input[type="submit"]:hover {
  color: white;
}
