body {
  background: #9D96B8;
  color: #4C191B;
}

.row{
  margin-bottom: 1em;
}

.jumbotron{
  background:#ECFFF8;
  background-image: url('https://silviahartmann.com/background-tile-art/images/pastel-purple-art-background.jpg');
}

.new-painting, .painting, .artshow{
  padding: 2em;
}

i{
  display:inline-block;
  margin: 0 1em;
}
i:hover{
  cursor: pointer;
}
