<a href="/logout"><button type="button" name="button">Logout</button></a>

<h2>Curator</h2>
<p>Thumbs up if you like it!</p>

<section class="col-md-12 artshow">
  <%# %>
      <img class='' src=<%= painting.imageUrl %> alt=<%= painting.name %> style="width:400px;height:400px"><br>
      <p><a href=<%= painting.permalink %>>See more</a></p>
      <p>Thumbs up if you like it!</p>


  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
  <i class="fa fa-thumbs-down" aria-hidden="true"></i>
</section>
